.contenido{
    margin: 0%!important;
    padding: 0%!important;
}
.Separaciones{
    padding-left: 20px;
    padding-top: 10px;
    margin-right: 5%;
    margin-bottom: 30px;
}
.navegar{
    padding-top: 10px;
}
.btn{
    margin-top: 20px;
    border-color: darkkhaki;
    color:thistle;
}
.datos-item{
    list-style-type: none;
}
.Titulo{
    color:darkgoldenrod;
    margin-right: 20px;
}

.nav-link
{
    color:darkgray;
    padding-bottom: 0%;
    padding-right: 0%;
}
.nav-link:hover{
    color: darkcyan;
}

.perfil{
    border-radius:80px;
    margin-left: 20px;
}
footer{
    background-color:darkgray;
}
.input-group{
    margin-top: 20px;
    padding: 0%;
}

.input-group-text{
    color:thistle;
    border-color: darkkhaki;
}
.form-control{
    border-color: darkkhaki;
}